<div xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
                <div class="navbar-header">
<!--                    todo: configure links-->
                        <a class="navbar-brand" th:href="@{/}">TODOs Home</a>
                        <a class="navbar-brand" sec:authorize="hasRole('USER')" th:href="@{/}">My TODOs</a>
                        <a class="navbar-brand" sec:authorize="hasRole('ADMIN')" th:href="@{/}">List of users</a> <!-- todo make 'sec' work to show only hasRole("ROLE_ADMIN")-->
                </div>

                <form  class="navbar-brand"  th:action="@{/logout}" method="post" style="display: inline-block; float: right;" >
                    <label >Hello <a /> !</label>
                    <input  class="btn-info btn-sm" type="submit" value="Log out">
                </form>
        </div>
    </nav>
</div>
